*~
\#*\#*~
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.idx
*.log
*.out
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.upa
*.upb
.DS_Store
.Rhistory
*.loa
latex/*.pdf
*.html
R/*.RData
*.fdb*
*.fls*
*.md
testNeuroCorr.tex
*eps-converted-to.pdf
*.nav
*.vrb
*.snm
\#*\#
*.o
*.exe
cuong/algos.pdf
cuong/pres.pdf
__pycache__
*.pyc
python/results
*.exe.dSYM
R/results
*.sagetex.*